@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    height: 100vh;
    color: #021227;
}
/*//////////////////////////////////////////////////////////////////*/
                            /*Header da página*/
/*//////////////////////////////////////////////////////////////////*/
#cabecalho{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0.5em;

    width: 100%;
    background-color: #021227;
    color: white;
}

.li-Cabecalho{
    margin-inline: 1.5em;
    text-decoration: none;
}
.links-cabecalho{
    color: white;
    text-decoration: none;
}

#inicial{
    margin-top: 3em;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.caixa{
    height: 18em;
    width: 100%;
    background-color: #021227;
    color: white;
    width: 46%;
    border: #010914 solid 0.4em;
    border-radius: 0.2em;
    margin-inline: 0.2em;
    text-align: center;
}

.paragrafo-caixa{
    text-align: center;
    margin-bottom: 2em;
    margin-inline: 5em;
}

.btn-main{

    height: 3em;
    padding: 0.6em;
    text-align: center;

    background-color: #87DDFD;
    border: #87DDFD solid;
    border-radius: 0.3em;
    text-decoration: none;
    color: black;
}


/*//////////////////////////////////////////////////////////////////*/
                        /*Style da page de login*/
/*//////////////////////////////////////////////////////////////////*/
#body-login{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detalhe_fundo{
    position: absolute;
    display: flex;
    align-self: flex-start;
    z-index: -1;
    margin-top: 23em;
}

.circulo-fundo{
    height: 2em;
    background-color: #021227;
    width: 2em;
    border-radius: 100%;
    animation: subir 7s;
}

@keyframes subir{
    from{
        opacity: 1;
        transform: translateY(100vh);
    }
    to{
        opacity: 0;
        transform: translatey(10vh);
    }
}

#login{
    background-color: white;
    color: #021227;
    border: rgb(218, 217, 217) solid 0.3em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em;
}
#inputs{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 5em;
    padding-bottom: 2em;
}

#btn-login{
    margin-block: 2em;
    border-radius: 1em;
    background-color: #021227;
    color: aliceblue;
    align-self: center;
    width: 80%;
}

#btn-login:hover{
    border: #021227 solid 0.15em;
    margin-block: 1.99em;
}
/*//////////////////////////////////////////////////////////////////*/
                            /*Tela de cadastro*/
/*//////////////////////////////////////////////////////////////////*/
#cadastro{
    background-color: white;
    color: #021227;
    border: rgb(218, 217, 217) solid 0.3em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 3em;
}

.campos_cadastro{
    margin-block: 1em;  
    padding: 0.5em;
}
.label_validacao{
    color: red;
    visibility: hidden;
    opacity: 0;
}
#btn-cadastro{
    align-self: center;
     max-height: 100%;
      max-width: 100%;
    border-radius: 1em;
    background-color: #021227;
    color: aliceblue;
    align-self: center;
    width: 80%;
}
/*//////////////////////////////////////////////////////////////////*/
                    /*Tela principal com as tarefas*/
/*//////////////////////////////////////////////////////////////////*/
#principal_tarefas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90%;
}

.tarefas{
    height: 90%;
    width: 30%;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.status_titulo{
    text-decoration: underline;
}

#btn-criar-tarefa{
    background-color: #87DDFD;
    align-self: flex-start;
    max-width: 40%;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

#menu_lateral{
    background-color: #021227;
    color: white;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2em;
}

#links-menu-lateral{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em;
    max-width: 100%;
    color: white;
    margin-bottom: 1em;
    max-height: 10%;
    width: 100%;
}

.li-menu-lateral{
    text-decoration: none;
    display: flex;
    padding-block: 0.1em;
    flex-direction: row;
    align-items: center;
    background-color:white;
    border-radius: 0.4em;
    margin-block: 0.4em;
}
.icon{
    height: 2em;

}

.links-menu-lateral{
    text-decoration: none;
    color: black;
    font-size: 1.5em;

}
#btn-criar-projeto{
    background-color: #87DDFD;
    max-width: 40%;
    max-height: 4em;
    text-align: center;
    margin-bottom: 0.5em;
    padding-block: 0.1em;
    align-self: center;
}

/*//////////////////////////////////////////////////////////////////*/
                    /*Modal para criar Tarefa*/
/*//////////////////////////////////////////////////////////////////*/

#modal-criar-tarefa{
    border: #021227 0.2em solid;
    background-color: #c1d6dd;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    height: 72%;
    width: 50%;
    
}

#modal-criar-tarefa::backdrop{
    background-color: rgba(0, 0, 0, 0.900);
}

.inputs-form-criar-tarefa{
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    width: 80%;
}